h1{
	color: #faa0fa;
}
body{
	background-color: #f5cef5;
}
.redParagraph{
	color: #b0acb0;
}
p{
	font-size: 20pt;
}
ul{
	list-style-type: none;
	background-color: #ff75f4;
	overflow: hidden;
}
ul li{
	float:left;
	text-align: center;
}
ul li a{
	text-decoration: none;
	display: block;
	width: 130;
	padding: 10px 10px;
	color: 030000;
}
ul li a:hover{
	background-color: #f7d0f4;

}
.active{
	font-weight: bold;
	border-bottom: solid 2px #ed11dc;
}
